.card-hover {
    transition: box-shadow 0.2s ease;
}
.card-hover:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.btn-hover-primary {
    transition: all 0.2s ease;
}
.btn-hover-primary:hover {
    background-color: #0d6efd !important;
    color: #fff;
}
.btn-hover-primary:hover i {
    color: #fff !important;
}

.fs-6-5 {
    font-size: 1.03rem !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #000 !important;
}


.input-soft-shadow {
    border: none;
    box-shadow:
        0 0px 0.5px rgba(0, 0, 0, 0.00),
        0 3px 6px rgba(0, 0, 0, 0.04);
    transition: box-shadow 0.2s ease-in-out;
}

.input-soft-shadow:focus {
    outline: none;
    box-shadow:
        0 0 0 0.2rem rgba(13, 110, 253, 0.25),
        0 3px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid #86b7fe;
}

.input-soft-shadow::placeholder {
    color: #000 !important;
    opacity: 0.8;
}

.badge-bg-warning {
    background-color: rgba(255, 193, 7, 0.2);
}

.badge-bg-danger {
    background-color: rgba(220, 53, 69, 0.2);
}

.accordion-button:hover {
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-thickness: 1px;
}

.badge-bg-warning {
    background-color: rgba(255, 193, 7, 0.2);
}

.badge-bg-chocolate {
    background-color: rgba(210, 105, 30, 0.2);
    color: rgba(210, 105, 30, 1);
}

